<script src="js/convert.js"></script>
{% extends 'base.html' %}

{% block header %}
{% include "task/index-template.html" %}
  <a class="action" href="{{ url_for('task.index') }}"><button type="button" class="btn btn-dark"> Back</button></a>

{% endblock %}

{% block content %}
  Total time: {{ time }}
  {% for post in posts %}
    <article class="post">
      <header>
        <div>
          <h1>{{ post['event_category'] }}</h1>
          <div class="about">Created on: {{ post['created'] }}</div>
        </div>
      </header>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}